<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.travis.holt/ift6253/MindMap"
			class = "holt.travis.ift6253.mindMap.MindMapPackage"
			genModel = "model/generated/MindMap.genmodel" />
	</extension>
</plugin>
